<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029567982628-mob3dbktg54hgfp40raata5d2ejhk2sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029567982628-mob3dbktg54hgfp40raata5d2ejhk2sg</string>
	<key>API_KEY</key>
	<string>AIzaSyDtl8ryNLOGONpzTZHTqp1fG_zYu79xr9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1029567982628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.embed-labs.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-001</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029567982628:ios:9114974c2f4d7d70c8fcb1</string>
</dict>
</plist>